= form_for(@restaurant) do |f|
  - if @restaurant.errors.any?
    #errorExplanation
      %h2
        = pluralize(@restaurant.errors.count, "error")
        prohibited this post from being saved:
      %ul
        - @restaurant.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :name
    %br/
    = f.text_field :name
  .actions
    = f.submit

