%h1= "Restaurant: #{@restaurant.name}"

- @restaurant.sections do |section|
  %h1= "#{section.name}"

Add Section:
= form_for([@restaurant, @restaurant.sections.build]) do |f|
  .field
    = f.label :name
    %br/
    = f.text_field :name
  .actions
    = f.submit

